<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wusc.campaign.dao.ChannelMapper">

    <select id="getChannelByIds" resultType="com.wusc.campaign.model.Channel">
    SELECT id,name FROM channel WHERE id IN (#{channelIds})

    </select>
</mapper>
